// Colors
$white: #fff;
$black: #000;
$black01:#333333;
$black02:#222222;
$gray: #d3d3d3;
$gray02: #efefef;
$gray03: #B4B4B4;
$red:#D80C28;
$red01:#FFF7F7;

$default-font-size: 1.6rem;

$font-noto-serif: "Noto Serif JP", serif;
$font-noto-sans: "Noto Sans JP", sans-serif;
$font-shippori:"Shippori Mincho", serif;

$font-primary: $font-noto-serif;

$default-mqMax-width: 991px;
$default-mqMin-width: 992px;
$default-mqMinMax-min-width: 992px;
$default-mqMinMax-max-width: 1920px;