section.layout-contact.container
  .layout-contact__ttl.ttl-01
    img.ttl-01__img(src=assetsPath + '/images/common/ttl_logo.png' alt='')
    p.ttl-01__en Contact
    p.ttl-01__jp お問い合わせ
  .layout-contact__wrap 
    .layout-contact__info
      p.layout-contact__ttl お墓のことや供養についてのお問い合わせは、お電話よりご連絡ください。
      p.layout-contact__tel tel. 048-974-4661 (〇時～○時)
      a.layout-contact__btn.btn-01(href="#") 
        span.btn-01__line
        p.btn-01__text l法要受付はこちら
