section.layout-navigation
    .layout-navigation__bg.img 
        img.img__main(src=`${assetsPath}/images/common/section_bg.jpg` alt='')
        .layout-navigation__wrap.container
            a.layout-navigation__link.bg-img(href="#")
                img.bg-img__main(src=`${assetsPath}/images/navigation/layout-nav_img-01.jpg` alt='')
                .layout-navigation__ttl
                    p.layout-navigation__ttl-jp 歴史
                    p.layout-navigation__ttl-en  History
                    .layout-navigation__box-01 
                    .layout-navigation__box-02
            a.layout-navigation__link.img(href="#")
                img.img__main(src=`${assetsPath}/images/navigation/layout-nav_img-02.jpg` alt='')
                .layout-navigation__ttl
                    p.layout-navigation__ttl-jp 供養
                    p.layout-navigation__ttl-en  Memorial Service
                    .layout-navigation__box-01 
                    .layout-navigation__box-02
            a.layout-navigation__link.img(href="#")
                img.img__main(src=`${assetsPath}/images/navigation/layout-nav_img-03.jpg` alt='')
                .layout-navigation__ttl
                    p.layout-navigation__ttl-jp 境内案内
                    p.layout-navigation__ttl-en  Precincts information
                    .layout-navigation__box-01 
                    .layout-navigation__box-02